autom4te.cache/

*.o
*.a
*.so
*.gmo
*~

.gdbinit
aclocal.m4
configure
config.guess
config.h.in
config.h
config.log
config.status
config.sub
install-sh
ltconfig
ltmain.sh
Makefile
missing
mkinstalldirs
